.LandingPage {
  max-width: 750px;
  margin: 0 auto;
}

.LandingPage h2 {
  text-align: center;
}

.LandingPage img {
  display: block;
  margin: 5px auto;
  max-width: 100%;
}

.btn {
  display: block;
  max-width: 150px;
  margin: 10px auto;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  background-color: #bbb;
  color: black;
  font-weight: 800;
}